@{
    ViewBag.Title = "联系我们";
}
	<!-- mail -->
<div class="mail">
    <!-- container -->
    <div class="container">
        <div class="map footer-middle wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d789648.8275273686!2d-94.99758062072284!3d39.36606983615378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sweb+designing+software+usa!5e0!3m2!1sen!2sin!4v1434416660807" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="mail-grids">
            <div class="col-md-6 mail-grid-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <h3>联系我们</h3>
                <h5>国车集团全体同仁竭诚为您提供优质的服务</h5>
                <h4>联系地址</h4>
                <p>
                    上海宝山区铁山路69号吴淞科技园
                    <span>A区9号楼B401室</span>
                </p>
                <h4>联系电话</h4>
                <p>
                    电话: 021-31039398
                    <span>传真: +1 234 567 9871</span>
                    E-mail: <a href="mailto:wangjialin@gcev.net">wangjialin@@gcev.net</a>
                </p>
            </div>
            <div class="col-md-6 contact-form wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <form>
                    <input type="text" placeholder="姓名" required="">
                    <input type="text" placeholder="邮箱" required="">
                    <input type="text" placeholder="主题" required="">
                    <textarea placeholder="信息" required=""></textarea>
                    <input type="submit" value="发送">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //mail -->
