@{
    ViewBag.Title = "加入我们";
}
<div class="about-top">
    <!-- container -->
    <div class="container">
        <div class="about-info wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <h3>加入我们</h3>
        </div>
        <div class="banner-bottom-grids a-banner-bottom-grids">
            <div class="col-md-5 banner-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <img src="~/Source/images/chuna.jpg" alt="">
            </div>
            <div class="col-md-7 a-banner-bottom-text">
                <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                    <h3>出纳岗位</h3>
                    <h5>岗位要求</h5>
                    <ul>
                        <li>大专以上学历，财务、电算会计、审计等相关专业毕业，有专业证书优先</li>
                        <li>一年及以上相关工作经验者</li>
                        <li>能熟练使用Excel等办公软件以及财务软件</li>
                    </ul>
                    <h5>岗位职责</h5>
                    <ul>
                        <li>协助财务主管完成日常事务性工作，协助处理账务</li>
                        <li>申请票据，购买发票，准备和报送会计报表，协助办理税务报表的申报</li>
                        <li>现金及银行收付处理，制作记帐凭证，银行对帐，单据审核，开具与保管发票</li>
                        <li>协助财会文件的准备、归档和保管</li>
                        <li>负责记账工作，对记账凭证进行审核，确保会计凭证的准确无误</li>
                        <li>负责与银行、税务等部门的对外联络</li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom-grids a-banner-bottom-grids">
            <div class="col-md-5 banner-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <img src="~/Source/images/finace.jpg" alt="">
            </div>
            <div class="col-md-7 a-banner-bottom-text">
                <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                    <h3>税务会计岗位</h3>
                    <h5>岗位要求</h5>
                    <ul>
                        <li>大专以上学历，财务、电算会计、审计等相关专业毕业</li>
                        <li>有较强的职业素养和责任心，电子商务行业、新媒体等相关行业两年以上工作经验。</li>
                        <li>熟悉WORD、EXCEL等办公软件、用友财务软件。</li>
                        <li>专业知识：熟悉企业会计准则及相关财务、税务、审计法规，熟悉企业报税流程、新企业核税、一般纳税人申请等流程，熟悉金税三期等软件的操作</li>
                        <li>其他能力：有优秀的沟通组织协调能力、信息收集处理和分析能力、风险管控能力、成本分析控制能力</li>
                    </ul>
                    <h5>岗位职责</h5>
                    <ul>
                        <li>纳税申报：据国家财政法规、税法等相关法律法规，每月按规定时间内收集、整理国、地税各项纳税资料，计算并复核各项税款数据准确，按规定程序申报税款，上交纳税资料，在符合国家法律及税收法规前提下进行税收筹划减轻公司税负，保持税企良好关系，减少公司税收风险，确保纳税业务及时、准确。</li>
                        <li>增值税票管理：据国家财政法规、税法等相关法律法规及公司发票管理规定，及时办理申领增值税发票，按业务部门时效要求及实际发生的经济业务开具、作废增值税发票并交接相关人员处理，妥善保管发票，确保增值税发票的合法、准确、安全、完整。</li>
                        <li>财务资料存档：依据国家财税政策、法规，公司内部管理制度规定，于每月30号前做好上月度各项财务资料的整理、装订归档、数据库的建立等，确保财务资料完整无缺。</li>
                        <li>团队协作：具有团结协作精神，协助本部门其他岗位及跨部门的需求工作，按时按质完成领导临时安排相关工作。</li>
                        <li>完成上级交代的其他工作。</li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom-grids a-banner-bottom-grids">
            <div class="col-md-5 banner-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <img src="~/Source/images/yunying.jpg" alt="">
            </div>
            <div class="col-md-7 a-banner-bottom-text">
                <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                    <h3>运营总监</h3>
                    <h5>岗位要求</h5>
                    <ul>
                        <li>管理类相关专业本科以上学历</li>
                        <li>5年以上工作经验，4年以上高级管理经验</li>
                    </ul>
                    <h5>岗位职责</h5>
                    <ul>
                        <li>全面负责公司的市场运作和管理，参与公司整体策划，健全公司各项制度</li>
                        <li>推动公司销售业务，推广公司产品，组织完成公司整体业务计划</li>
                        <li>建立公司内部信息系统，推进公司财务、行政、人力资源的管理，负责协调各部门工作，建立有效的团队协作机制</li>
                        <li>维持并且开拓各方面的外部关系，管理并激励所属部门的工作绩效</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom-grids a-banner-bottom-grids">
            <div class="col-md-5 banner-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <img src="~/Source/images/chanp.jpg" alt="">
            </div>
            <div class="col-md-7 a-banner-bottom-text">
                <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                    <h3>APP产品经理</h3>
                    <h5>岗位要求</h5>
                    <ul>
                        <li>本科以上学历，计算机或者汽车相关专业</li>
                        <li>熟悉新能源汽车，具备3年以上汽车产品设计工作经验:，独立规划设计过汽车相关产品</li>
                        <li>具备较强的文字表达以及方案撰写能力</li>
                        <li>有项目管理经验和产品设计经验</li>
                    </ul>
                    <h5>岗位职责</h5>
                    <ul>
                        <li>根据APP业务需要，撰写需求文稿</li>
                        <li>协助技术经理进行项目排期和管理</li>
                        <li>汇总项目计划，收益等技术和运营指标撰写项目汇总报告</li>
                        <li>协助技术总监规划APP的未来走向</li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //about -->
@*<!-- about-bottom -->
<div class="about-bottom">
    <!-- container -->
    <div class="container">
        <h3 class="wow fadeInRight animated" style="visibility: visible;">A new generation of Trucks</h3>
        <div class="about-bottom-grids">
            <div class="col-md-6 about-bottom-left wow fadeInLeft animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <h4>Morbi convallis urna sit amet feugiat</h4>
                <p>
                    Vivamus sit amet molestie orci. Nullam porttitor porta lobortis. Mauris semper feugiat varius. Mauris nec ligula
                    diam. Cras ullamcorper lorem eu sapien viverra cursus. Pellentesque commodo libero eget malesuada blandit.
                    <span>
                        Integer at imperdiet orci. Donec laoreet dignissim ex, vitae hendrerit nulla. Praesent efficitur ex vel tempus
                        blandit. Nunc sed purus ac sapien cursus eleifend vitae id ipsum. Mauris nec vehicula est.
                    </span>
                    Nullam ac odio massa nullam et condimentum magna, eget congue dui.Sed sit amet laoreet libero. Duis faucibus
                    felis et dolor ultrices pulvinar eu at orci.
                </p>
            </div>
            <div class="col-md-6 about-bottom-left about-bottom-right wow fadeInRight animated animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <h4>Morbi convallis urna sit amet feugiat</h4>
                <p>
                    Vivamus sit amet molestie orci. Nullam porttitor porta lobortis. Mauris semper feugiat varius. Mauris nec ligula
                    diam. Cras ullamcorper lorem eu sapien viverra cursus. Pellentesque commodo libero eget malesuada blandit.
                    <span>
                        Integer at imperdiet orci. Donec laoreet dignissim ex, vitae hendrerit nulla. Praesent efficitur ex vel tempus
                        blandit. Nunc sed purus ac sapien cursus eleifend vitae id ipsum. Mauris nec vehicula est.
                    </span>
                    Nullam ac odio massa nullam et condimentum magna, eget congue dui.Sed sit amet laoreet libero. Duis faucibus
                    felis et dolor ultrices pulvinar eu at orci.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //about-bottom -->
<!-- team -->
<div class="team">
    <!-- container -->
    <div class="container">
        <div class="team-info">
            <h3 class="wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">Meet Our Team</h3>
            <div class="team-grids">
                <div class="col-md-3 team-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <img src="images/b7.jpg" alt="">
                    <h6>Jain Smith</h6>
                    <p> Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
                </div>
                <div class="col-md-3 team-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <img src="images/b10.jpg" alt="">
                    <h6>shan carter</h6>
                    <p> Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
                </div>
                <div class="col-md-3 team-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <img src="images/b8.jpg" alt="">
                    <h6>Jack dany</h6>
                    <p> Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
                </div>
                <div class="col-md-3 team-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <img src="images/b9.jpg" alt="">
                    <h6>Mary Jain</h6>
                    <p> Curabitur orci massa, convallis id mauris sed, venenatis porttitor</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //team -->*@
